img{
    width: 15rem;
    background-color: #c0c0c0;
    border: 1px solid grey;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}

.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}