<div *ngIf="!loading;else elseBlock">
    <loading-component></loading-component>
</div>
<ng-template #elseBlock>
    <div *ngIf="error=='Network Fail';else finalBlock">
        <alert-component [variant]=variant [message]="error"></alert-component>
    </div>
</ng-template>

<ng-template #finalBlock>
    <button class="btn btn-success btn-sm" (click)="addRecord()">Add Record</button>
    <table class="table table-success table-striped" *ngIf="products.length>0">
        <thead>
            <tr>
                <th>ID</th>
                <th>NAME</th>
                <th>COST</th>
                <th>ACTIONS</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products">
                <td>{{product.id}}</td>
                <td>{{product.p_name}}</td>
                <td>{{product.p_cost}}</td>
                <td><i class="fa fa-trash"></i><i class="fa fa-edit"></i></td>
            </tr>
        </tbody>
    </table>
</ng-template>


<div
  class="modal"
  tabindex="-1"
  role="dialog"
  [ngStyle]="{'display':displayStyle}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">MiniProject</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
            <label>ID</label>
            <input type="number" class="form-control" id="p_id">
        </div>

        <div class="form-group">
            <label>P_NAME</label>
            <input type="text" class="form-control" id="p_name">
        </div>

        <div class="form-group">
            <label>P_COST</label>
            <input type="number" class="form-control" id="p_cost">
        </div>
  
      </div>
      <div class="modal-footer">
        <button class="btn btn-success" (click)="saveRecord()">Save</button>
        <button type="button" class="btn btn-danger" 
                (click)="closePopup()">
          Close
        </button>
      </div>
    </div>
  </div>
</div>



