<!-- <div *ngFor="let sub of ['Angular13','ReactJS','VueJS','NodeJS','MongoDB'];
      let i=index;let f=first;let l = last;let e = even;let o = odd">
    {{sub}}....{{i}}....{{f}}....{{l}}....{{e}}....{{o}}
</div> -->


<!-- <table>
   <tr *ngFor="let product of products">
      <td>{{product.p_id}}</td>
      <td>{{product.p_name}}</td>
      <td>{{product.p_cost}}</td>
      <td><img src={{product.p_image}} width="100px"></td>
   </tr>
</table> -->


<input type="text" [(ngModel)]="uname">
<input type="password" [(ngModel)]="upwd">
<button (click)="login()">Login</button>







