<h3>{{"Angular13" | msg : "To" : "Welcome" | reverse }}</h3>



<h1>{{custom_pipe | reverse }}</h1>


<h2>{{var_nine | async}}</h2>
<h2>{{var_eight | slice:2:4}}</h2>
<h2>{{var_eight | slice:1:4}}</h2>
<h2 style="color: indianred;">{{var_seven | number:'4.1-3'}}</h2>
<h2 style="color: green;">{{var_six | percent}}</h2>
<h2>{{var_five | currency:"INR"}}</h2>
<h2>{{var_five | currency:"GBP"}}</h2>
<h2>{{var_five | currency}}</h2>
<h2 style="color: saddlebrown;">{{var_four | json}}</h2>
<h2 style="color: rosybrown;">{{var_three | date:'fullDate'}}</h2>
<h2 style="color: rosybrown;">{{var_three | date:'medium'}}</h2>
<h2 style="color: rosybrown;">{{var_three | date:'short'}}</h2>
<h2 style="color: rosybrown;">{{var_three | date:'yyyy-dd-MMM'}}</h2>
<h2 style="color: rosybrown;">{{var_three | date:'dd-MMM-yy'}}</h2>
<h2 style="color: rosybrown;">{{var_three | date:'dd-MM-yy'}}</h2>
<h2 style="color: rosybrown;">{{var_three}}</h2>
<h2>{{var_two | lowercase}}</h2>
<h2 style="color: red;">{{var_one | uppercase | reverse}}</h2>